<div fxLayout="column" fxFill id="container">

  <div fxFlex="100" fxFlexAlign="center"></div>

  <div fxFlex="100" fxFlexAlign="center">
    <header>
      <h1 class="mat-display-3">Gohil Report Manager</h1>
    </header>
  </div>

  <div fxFlex="100" fxFlexAlign="center"></div>

  <div fxFlex="100" fxFlexAlign="center">
    <app-user-auth class="auth"></app-user-auth>
  </div>

  <div fxFlex="100" fxFlexAlign="center"></div>

  <div
    fxFlex="100"
    fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
    fxLayoutAlign="space-evenly"
  >
    <p><a href="http://www.gohilreport.com" target="_blank">Gohil Report</a></p>
    <p><a href="https://github.com/hitesh-92/gohilReportManager" target="_blank">GR Manager source code</a></p>
    <p><a href="https://github.com/hitesh-92/gohilReport-api" target="_blank">API source code</a></p>
  </div>

</div>
