<div class="landing">

  <header class="title">
    <h1 class="mat-display-3">Gohil Report Manager</h1>
  </header>

  <app-user-auth class="auth"></app-user-auth>

  <footer>

    <p class="mat-subheading-1">Related Links</p>

    <div class="links">

      <p>
        <a href="http://www.gohilreport.com" target="_blank">
          Gohil Report
        </a>
      </p>

      <p>
        <a href="https://github.com/hitesh-92/gohilReportManager" target="_blank">
          Gohil Report Manager souce code
        </a>
      </p>

      <p>
        <a href="https://github.com/hitesh-92/gohilReport-api" target="_blank">
          API source code
        </a>
      </p>

    </div>



  </footer>



</div>
