h1{
  color: white;
  text-shadow: 2px 2px 2px #ccc;
}

.auth{
  grid-column: 4/5;
  grid-row: 3/4;
  display: grid;
  place-items: center center;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

p{
  color: white;
}


a{
  color: white;
  text-decoration: none;
  transition: 0.25s ease-in-out;
}

a:hover{
  color: #55aaff;
}


#container{
  background-image: url("/assets/background.jpg");
}
