nav{
  background: linear-gradient(#3eabdd, #5d6bff);
  height: 100vh;
  margin:0;
  padding: 0;
}

.container{
  padding: 2rem 0;
  display: grid;
}

.title{
  font-family: 'Courier New', Courier, monospace;
  color: white;
  text-decoration: underline;
  font-size: 1.05rem;
  margin: 0 0 2rem 0.5rem;
  font-weight: 900;
}

.links{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.links > li{
  transition: 0.5s ease-in-out;
  padding: 1rem 0;
}

.links > li:hover{
  background-color: rgba(155, 184, 196, 0.25)
}

a{
  margin: 0 0 0 0.5rem;
  padding: 0rem 0rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.25s ease-in-out;
  border-radius: 1rem;
  font-weight: 100;
  letter-spacing: 0.05rem;
  font-family: sans-serif;
  font-size: 0.8rem;
}

a:hover{
  color: rgb(0, 128, 192);
  text-shadow: 1px 0px 1px #032cf7;
}
