<nav>
  <div class="container">
    <p class="title">Gohil Report</p>
    <ul class="links">
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="#">Alerts</a></li>
      <li><a href="#">Left Column</a></li>
      <li><a href="#">Center Column</a></li>
      <li><a href="#">Right Column</a></li>
      <li><a href="#">Archived</a></li>
      <li><a href="#">Users</a></li>

      <!-- <br><br>
      <hr><hr>
      <button (click)="onSelectThing()" >clickMe</button>
      {{wasClicked}}
      <input type="text" (input)="inputSomething($event)">
      <br>
      {{someInput}}
      <br>
      <input type="text" [(ngModel)]="twoWay">
      {{twoWay}} -->
    </ul>

  </div>
</nav>
