<div class="column-view">

  <div id="title">
    <h1 class="mat-title">{{ columnTitle }} Column</h1>
  </div>

  <section class="columnInfo">
    <div class="mat-body-strong">Total Articles: {{articles.length}}</div>
    <!-- make add new button green -->
    <button mat-flat-button color="primary">Add new Article</button>
    <div><small>Use switch button to change article positions</small></div>
    <div>switch select: {{switch}} </div>
    <div>switch to: {{moveTo}} </div>
    <div> <button mat-stroked-button [disabled]="!allowSwitch" color="primary">Confirm Switch</button> </div>
  </section>

  <section class="articles">

    <div class="article-info-bar">
      <p>Position</p>
      <p>Status</p>
      <p>Title</p>
      <p>URL</p>
      <p>Options</p>
    </div>

    <ul>
      <li class="article" *ngFor="let article of articles">
        <p class="position">{{article.position}}</p>
        <p class="status">{{article.status}}</p>
        <p>{{article.title}}</p>
        <p>{{article.url}}</p>
        <div class="buttons">
          <!-- TODO: buttons only show on hover, help avoid switching wrong article -->
          <button mat-flat-button color="accent" class="btn btn-edit" (click)="onEdit($event)">
            edit
          </button>
          <button mat-flat-button color="primary" class="btn btn-switch" (click)="onSwitch($event)" [id]="article.position">
            switch
          </button>
        </div>
      </li>
    </ul>

  </section>



</div>
