<div class="column-view">

  <div id="title">
    <h1 class="mat-title">{{columnName}}</h1>
  </div>

  <section class="columnInfo">
    <div class="mat-body-strong">Total Articles: {{articles.length}}</div>
    <!-- make add new button green -->
    <button mat-flat-button color="primary">Add new Article</button>
    <div><small>Use switch button to change article positions</small></div>
    <div>switch select: --truncate title-- </div>
    <div>switch to: -</div>
    <div> <button mat-stroked-button disabled color="primary">Confirm Switch</button> </div>
  </section>

  <section class="articles">

    <div class="article-info-bar">
      <p>Position</p>
      <p>Status</p>
      <p>Title</p>
      <p>URL</p>
      <p>Options</p>
    </div>

    <ul>
      <li class="article" (click)="onDrag($event)" id="article.position" *ngFor="let article of articles">
        <p class="position">{{article.position}}</p>
        <p class="status">{{article.status}}</p>
        <p>{{article.title}}</p>
        <p>{{article.url}}</p>
        <div class="buttons">
          <button class="btn btn-edit">edit</button>
          <button class="btn btn-switch">switch</button>
        </div>
      </li>
    </ul>

  </section>



</div>
