#column-view{
  scrollbar-color: white rgb(154, 154, 228);
  scrollbar-width: thin;
  background: radial-gradient(ellipse at top, #64a7e6, transparent), radial-gradient(ellipse at bottom, #ac56df, transparent);
  min-height: 95vh;
}

#header > *{
  margin: 0.25rem 0;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.btn{
  cursor: pointer;
}

.switch-btn{
  color: green;
}

.edit-btn{
  color: grey;
}
