.column-view{
  display: grid;
  grid-template-rows: 5vh 10vh 85vh;
}

.head > h1{
  font-size: 1.75rem;
  padding-left: 1rem;
  border-bottom: 1px solid #ccc;
}

.columnInfo{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center center;
}

.switch-message{
  color: red;
  font-size: 0.5rem;
}

.articles{
  overflow-y: scroll;
  scrollbar-color: white rgb(154, 154, 228);
  /* scrollbar-color: #197ee3 #e6e8eb; */
  scrollbar-width: thin;
  background:
    radial-gradient(ellipse at top, #64a7e6, transparent),
    radial-gradient(ellipse at bottom, #ac56df, transparent);

}

.article-info-bar{
  display: grid;
  grid-template-columns: 1fr 1fr 4fr 4fr 2fr;
  padding: 0 1rem;
  background-color: white;
  box-shadow: 0 0 5px 5px rgba(59, 80, 139, 0.5);
  font-size: 0.8rem;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.article{
  text-decoration: none;
  padding: 0 1rem;
  margin: 0rem;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 4fr 4fr 2fr;
  transition: 0.3s ease-in-out;
}

.article:hover{
  background: rgb(245, 245, 245);
}

.article > p{
  font-size: 0.8rem;
}

/* .position{

} */

.buttons{
  display: grid;
  gap: 1rem;
  position: center center;
  grid-template-columns: 1fr 1fr;
  margin: 0.5rem;
  padding: 0;
}
