#column-view{
  scrollbar-color: white rgb(154, 154, 228);
  scrollbar-width: thin;
  background: radial-gradient(ellipse at top, #64a7e6, transparent), radial-gradient(ellipse at bottom, #ac56df, transparent);
  min-height: 95vh;
}

#header > *{
  margin: 0.25rem 0;
}

table {
  width: 100%;
}

.mat-row:hover{
  color: red !important;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.btn{
  cursor: pointer;
  border-radius: 50px;
  transition: 0.25s ease-in-out;
  opacity: 0.5;
  transition: 0.5s ease-in-out;
}

.btn:hover{
  /* background-color: #ccc; */
  opacity: 1;
}

.switch-btn{
  color: green;
}

.edit-btn{
  color: grey;
}

.clear{
  color: red !important;
}

#rowww: hover{
  color: red !important;
}
