.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 10vw;
  background: linear-gradient(#3eabdd, #5d6bff);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.title{
  font-family: 'Courier New', Courier, monospace;
  color: white;
  text-decoration: underline;
  font-weight: 900;
}

.title > a:hover{
  text-shadow: none;
}

.links > li{
  transition: 0.5s ease-in-out;
}

.link:hover{
  background-color: rgba(155, 184, 196, 0.25)
}

a{
  color: white !important;
  transition: 0.4s ease-in-out;
  font-weight: 100;
  letter-spacing: 0.05rem;
}

a:hover{
  color: rgb(0, 128, 192) !important;
  text-shadow: 1px 0px 1px #032cf7;
}

.activeLink{
  color: rgba(2, 48, 84, 0.75) !important;
  background-color: rgba(237, 231, 238, 0.3);
}
