<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar class="title"><a href="http://www.gohilreport.com" target="_blank">Gohil Report</a></mat-toolbar>
    <mat-nav-list class="links">
      <a mat-list-item class="link" routerLink="/app/overview" routerLinkActive="activeLink" >Overview</a>
      <!-- <a mat-list-item class="link" routerLink="/app/editor" routerLinkActive="activeLink" >Editor</a> -->
      <!-- <a mat-list-item class="link" routerLink="/app/" routerLinkActive="activeLink" >Alerts</a> -->
      <p mat-list-item>Columns</p>
      <a mat-list-item class="link" routerLink="/app/left-column" routerLinkActive="activeLink">Left</a>
      <a mat-list-item class="link" routerLink="/app/">Center</a>
      <a mat-list-item class="link" routerLink="/app/">Right</a>
      <a mat-list-item class="link" routerLink="/app/">Archives</a>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Gohil Report Manager</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
