#overview{
  display: grid;
  grid-template-rows: 10vh 25vh 50vh 15vh;
  margin: 1rem;
}

.title > h1{
  padding-left: 5rem;
}

#activeArticles{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
  padding: 0 0.5rem;
}

#activeArticles > section> div{
  border: 1px solid rgb(235, 235, 235);

  box-shadow: 0 0 5px 0px rgb(231, 231, 231);
  border-radius: 10px;
  padding: 0.5rem;
  transition: 0.25s ease-in-out;
}

#article-count{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}

#article-count > div > * {
  margin:0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#article-status{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}

#article-count > div:hover, #article-status > div:hover{
  background-color: rgb(236, 237, 241);
  border: 1px solid rgba(255, 255, 255, 0.658);
  box-shadow: 0 0 0 0 white;
}

#alerts{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-itms: center center;
}

.current-alerts{
  padding: 0 2rem;
}

.current-alerts > p{
  text-align: center;
}

.current-alerts > article{
  color: rgb(179, 64, 64);
}

.newAlert{
  padding: 0 2rem;
}

.alertInputs{
  display: grid;
}

.formButtons{
  display: grid;
  grid-template-columns: auto auto;
  place-items: start end;
}

#create{
  background:#559900;
  color: white
}


#last{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-top: 1px solid rgb(226, 226, 226);
  background-color: #ccc;
}
