<main>
  <div id="container" fxLayout="column" fxLayoutGap="1rem">

    <div fxFlex="100" fxLayoutAlign="start center" id="title">
      <h1  class="mat-display-1">Overview</h1>
    </div>

    <div id="article-count" gdGap="0.5rem">

      <div gdColumn="1fr">
        <p class="mat-title">Article Count</p>
      </div>

      <section gdColumns.xl="repeat(5, 1fr)" gdColumns.lg="repeat(5, 1fr)" gdColumns.md="repeat(5, 1fr)" fxLayout.xs="column" gdGap="0.5rem">
        <mat-card>
          <div> <span>Alert - </span> <span *ngIf="counts.alert !== null">{{ [counts.alert] }}</span> </div>
        </mat-card>
        <mat-card>
          <div> <span>Left - </span> <span *ngIf="counts.left !== null">{{ [counts.left] }}</span> </div>
        </mat-card>
        <mat-card>
          <div> <span>center - </span> <span *ngIf="counts.center !== null">{{ [counts.center] }}</span> </div>
        </mat-card>
        <mat-card>
          <div> <span>right - </span> <span *ngIf="counts.right !== null">{{ [counts.right] }}</span> </div>
        </mat-card>
        <mat-card>
          <div> <span>archive - </span> <span *ngIf="counts.archive !== null">{{ [counts.archive] }}</span> </div>
        </mat-card>
      </section>

      <section gdColumns.xl="repeat(5, 1fr)" gdColumns.lg="repeat(5, 1fr)" gdColumns.md="repeat(5, 1fr)" fxLayout.xs="column" gdGap="0.5rem">
        <mat-card>new : {{ [status.new] }}</mat-card>
        <mat-card>1 month+ : {{ [status.oneMonth] }}</mat-card>
        <mat-card>3 month+ : {{ [status.threeMonth] }}</mat-card>
        <mat-card>6 month+ : {{ [status.sixMonth] }}</mat-card>
        <mat-card>Total: {{[counts.total]}}</mat-card>
      </section>
    </div>

    <div id="alert" gdColumns="repeat(2, 1fr)" gdColumns.sm="" gdColumns.xs="" gdRows.sm="repeat(2, 1fr)" gdRows.xs="repeat(2, 1fr)" gdGap="0.5rem">

      <section id="alert-display">
        <h4 class="mat-title">Alerts</h4>
        <mat-card>
          <div *ngIf="data.alert.articles">
            <p>{{ [data.alert.articles[0].title] }}</p>
            <p>{{ [data.alert.articles[1].title] }}</p>
            <p>{{ [data.alert.articles[2].title] }}</p>
            <p>{{ [data.alert.articles[3].title] }}</p>
            <p>{{ [data.alert.articles[4].title] }}</p>
          </div>
        </mat-card>
      </section>


      <section id="alert-create">
        <h4 class="mat-title">Create New Alert</h4>


        <mat-card fxLayout="column">

          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput placeholder="" [(ngModel)]="newAlert_title">
            <mat-icon matSuffix>add_alert</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Url</mat-label>
            <input matInput placeholder="" [(ngModel)]="newAlert_url">
            <mat-icon matSuffix>link</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Image</mat-label>
            <input matInput placeholder="" [(ngModel)]="newAlert_image">
            <mat-icon matSuffix>add_photo_alternate</mat-icon>
          </mat-form-field>

          <div fxLayoutAlign="space-between">
            <div></div>
            <button mat-raised-button color="warn" (click)="clearInputs()"> Clear </button>
            <button mat-raised-button id="create" (click)="submitNewAlertArticle()" class="addButton"> Add </button>
          </div>

        </mat-card>

      </section>

    </div>

    <!-- <div class="links" fxLayout="row" fxLayoutAlign="space-evenly" fxLayout.sm="column" fxLayout.xs="column">
      <p> <a href="http://www.gohilreport.com">Gohil Report</a> </p>
      <p> <a href="https://github.com/hitesh-92/archReport">Gohil Report source code</a></p>
      <p>REST API url : ---- </p>
      <p> <a href="https://github.com/hitesh-92/gohilReport-api">REST API source code</a> </p>
      <p> <a href="https://github.com/hitesh-92/gohilReportManager">Gohil Report Manager source code</a> </p>
    </div> -->

  </div>
</main>


<footer class="links" fxLayout="row" fxLayoutAlign="space-evenly" fxLayout.sm="column" fxLayout.xs="column">
  <p> <a href="http://www.gohilreport.com">Gohil Report</a> </p>
  <p> <a href="https://github.com/hitesh-92/archReport">Gohil Report source code</a></p>
  <p> <a href="#">REST API url</a></p>
  <p> <a href="https://github.com/hitesh-92/gohilReport-api">REST API source code</a> </p>
  <p> <a href="https://github.com/hitesh-92/gohilReportManager">Gohil Report Manager source code</a> </p>
</footer>
