#container{
  margin: 0 0.5rem;
}

.addButton{
  background-color: green;
  color: white;
}

.links > p > a{
  text-decoration: none;
}


/* #title{
  border: 1px solid red
} */
#title>h1{
  padding:0;
  margin: 0.5rem 0;
}


main{
  min-height: 85vh
}

a{
  color: #2e97be;
  transition: 0.25s ease-in-out;
  opacity: 0.65;
}

a:hover {
  opacity: 1;
}

.countTitle{
  color: #b8b8b8
}

.countValue{
  color: #658594
}




/* section> mat-card{
  border: 1px solid #ccc;
} */
