<div id="overview">

  <div class="title">
    <h1>Dashboard</h1>
  </div>

  <section id="activeArticles">
    <section id="article-count">
      <div>
        <p>Alert</p>
        <p>{{this.data.alert.length}}</p>
      </div>
      <div>Left</div>
      <div>Center</div>
      <div>Right</div>
      <div>Total</div>
    </section>
    <section id="article-status">
        <div>new</div>
        <div>1 month +</div>
        <div>3 months +</div>
        <div>6 months +</div>
        <div>Archived</div>
    </section>
  </section>

  <section id="alerts">

    <div class="current-alerts">
      <h4>Alerts</h4>
       <!-- {{ articles[0].title }} -->
    </div>

    <div class="newAlert">

      <h4>Create New Alert</h4>

      <div class="alertInputs">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput placeholder="" [(ngModel)]="newAlert_title">
        <mat-icon matSuffix>add_alert</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Url</mat-label>
        <input matInput placeholder="" [(ngModel)]="newAlert_url">
        <mat-icon matSuffix>link</mat-icon>
      </mat-form-field>
      </div>

      <div class="formButtons">
        <button mat-raised-button color="warn" (click)="clearInputs()">
          Clear
        </button>
        <button mat-raised-button id="create" (click)="submitArticle()">
          Add
        </button>
      </div>

    </div>

  </section>

  <div id="last">
    <p>more info</p>
    <br>
    <p>db url</p>
    <p>db data</p>

    <a href="http://www.gohilreport.com">Gohil Report</a>
  </div>

</div>
