<div id="editor" [ngClass]="{archive:defaultColumn==='archive', new:articleType==='new', update:defaultColumn!=='archive'&&articleType!=='new'}">
  <mat-card id="editor-body" fxLayout="column">

    <header fxFlexFill fxLayoutAlign="center">
      <p class="mat-title">{{ pageTitle }}</p>
      
    </header>

    <main fxFlex="100" gdColumns.gt-sm="1fr 1fr" fxLayout.lt-md="column" gdInline>

      <section id="main" fxLayout="column">

        <section *ngIf="articleType !== 'new'">

          <div id="action-selector" fxLayout="column" fxLayoutGap="30px">
            <label *ngIf="!actionType" fxLayoutAlign="center center">Select an opition</label>
            <mat-radio-group aria-labelledby="actionType" fxLayout="column" fxLayoutAlign="space-evenly" fxLayoutGap="20px" [(ngModel)]="actionType">
              <mat-radio-button *ngFor="let action of actions" [value]="action">
                {{action}}
              </mat-radio-button>
            </mat-radio-group>
          </div>

        </section>


        <section id="button-auth" *ngIf="actionType === 'Delete' || actionType==='Archive' || defaultColumn==='Archive'">
          <div *ngIf="articleType === 'existing' || defaultColumn==='Archive'">

            <div fxLayout="column">
              <p>Please enter the last 4 characters of the id:</p>
              <p fxLayoutAlign="center">{{article._id}}</p>
              <mat-form-field>
                <input matInput placeholder="Enter here" (input)="[buttonAtuhValidate($event)]">
              </mat-form-field>
            </div>

            <div id="buttons-auth-apply" fxLayout="row" fxLayoutAlign="space-evenly">

              <button *ngIf="actionType === 'Delete'" mat-flat-button color="warn" (click)="onDeleteExisting()" [disabled]="!allowButtonAuthApply">
                Delete
              </button>

              <button *ngIf="actionType === 'Archive'" lass="textInput" mat-stroked-button color="warn" (click)="onArchiveArticle()" [disabled]="!allowButtonAuthApply">
                Archive
              </button>

              <button *ngIf="defaultColumn === 'Archive'" lass="textInput" mat-stroked-button color="warn" (click)="onArchiveArticle()" [disabled]="!allowButtonAuthApply">
                un-Archive
              </button>

            </div>

            <!-- <div *ngIf="articleType === 'archive'">
              <div>delete</div>
              <div>unarchive</div>
            </div> -->

          </div>
        </section>


        <div id="init-display" *ngIf="articleType !== 'new' && actionType !== 'Update'" fxLayout="column">

          <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-evenly">
            <p class="mat-title n-pm" fxFlex="30" fxLayoutAlign="center center">Title</p>
            <p fxFlex="70" fxLayoutAlign="center center">{{article.title}}</p>
          </div>

          <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-evenly">
            <p class="mat-title n-pm" fxFlex="30" fxLayoutAlign="center center">Url</p>
            <p fxFlex="70" fxLayoutAlign="center center">{{article.url}}</p>
          </div>

          <div *ngIf="article.image" fxFlex="100" fxLayout="row" fxLayoutAlign="space-evenly">
            <p class="mat-title n-pm" fxFlex="30" fxLayoutAlign="center center">Image</p>
            <p fxFlex="70" fxLayoutAlign="center center">{{article.image}}</p>
          </div>

        </div>


        <section id="editor-form" *ngIf="articleType === 'new' || actionType === 'Update'" fxLayout="column">

          <div id="form-column" fxFlex="100" fxLayout.gt-sm="row" fxLayout.lt-md="column">
            <div fxFlex="50" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20%">
              <p fxFlex="" class="mat-title n-pm">Column</p>
              <p fxFlex="" class="mat-body-2">Default: {{ defaultColumn }} </p>
            </div>
            <div fxFlex="100" fxLayoutAlign.gt-sm="center center" fxLayoutAlign.lt-md="end center">
              <mat-form-field>
                <mat-label>Re-assign column</mat-label>
                <mat-select [(ngModel)]="selectedColumn" name="column">
                  <mat-option *ngFor="let column of columns" [value]="column.value">
                    {{ column.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div id="form-title" fxFlex="100" fxLayout="column">
            <p fxFlex="100" class="mat-h3">{{ article.title || articleTitle}}</p>
            <mat-form-field fxFlex="100">
              <textarea matInput placeholder="Enter article Title" [(ngModel)]="input_title" name="title">
              </textarea>
            </mat-form-field>
          </div>

          <div id="form-url" fxFlex="100" fxLayout="column">
            <p fxFlex="100" class="mat-h3">{{article.url || articleUrl}}</p>
            <mat-form-field fxFlex="100">
              <textarea matInput placeholder="Enter article url" [(ngModel)]="input_url" name="url">
              </textarea>
            </mat-form-field>
          </div>

          <div id="form-image" fxFlex="100" fxLayout="column">
            <p fxFlex="100" class="mat-h3">{{article.image || articleImage}}</p>
            <mat-form-field fxFlex="100">
              <textarea matInput placeholder="Enter article image url" class="textInput" [(ngModel)]="input_image" name="image">
              </textarea>
            </mat-form-field>
          </div>

          <div id="buttons">

            <div *ngIf="articleType === 'new'">
              <div fxLayout="row" fxLayoutAlign="space-evenly">
                <button mat-raised-button class="btn-create" (click)="onCreateNewArticle()">
                  Create
                </button>
              </div>
            </div>

            <div *ngIf="actionType === 'Update'" fxLayout="row" fxLayoutAlign="space-evenly">
              <button mat-raised-button color="primary" [disabled]="!allowUpdateExisting" (click)="onUpdateExisting()">
                Update
              </button>
            </div>

          </div>


        </section>

      </section>



      <aside id="info" fxLayout="column">

        <div class="image-container" fxLayoutAlign="center center">
          <!-- <img class="article-img" src="https://tinyurl.com/y2kabrx3" alt="" /> -->
          <img class="article-img" src="https://steemitimages.com/DQmNTHyDT5uiLzCw3RLt1gM16YUH4Xqe8aRzw2bZZjhJ9HG/1-PYHrigdx0JOpNbZGuSPtdQ.png" alt="" />
        </div>

        <div class="info" fxLayout="row" fxLayoutAlign="space-between center">
          <small>Position</small>
          <p>{{ article.position || '-' }}</p>
        </div>

        <div class="info" fxLayout="row" fxLayoutAlign="space-between center">
          <small>Status</small>
          <div class="status-data">
            <p *ngIf="article.status > -1; else no">{{article.status}} / {{ "x weeks/months old" }}</p>
            <ng-template #no>
              <p>-</p>
            </ng-template>
          </div>
        </div>

        <div class="info" fxLayout="row" fxLayoutAlign="space-between center">
          <small>Created At</small>
          <p>{{ article.createdAt || '-' }}</p>
        </div>

        <div class="info" fxLayout="row" fxLayoutAlign="space-between center">
          <small>Updated At</small>
          <p>{{ article.updatedAt || '-' }}</p>
        </div>

      </aside>

    </main>

  </mat-card>
</div>
