
@media only screen and (min-width: 992px) {

    .article-editor{
        height: 100vh;
        max-height: 100vh;
        background: repeating-linear-gradient(3deg,
          #83bbd3,
          #536977 1%,
          #ff0901 1%);

        display: grid;
        grid-template-rows: 100vh;
    }

    .editor{
        margin: 1rem;
        border-radius: 10px;
        background-color: white;

        display: grid;
        grid-template-rows: 15vh 75vh;
    }

    .article-id{
        display: grid;
        place-items: center center;
    }

    .editor-body{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .left-side{
        margin: 1rem;
        /* border: 1px solid red; */
    }

    .article-form > div {
        list-style: none;
        list-style-type: none;
        transition: 0.25s ease-in-out;
        font-size: 0.95rem;
        padding: 1rem;
    }

    .article-form > div:hover {
        background-color: rgba(240, 240, 240, 0.479);
    }

    .articleInput > p{
        text-decoration-line: underline;
    }

    .input{
        width: 100%;
        font-size: 0.8rem;
    }

    .columnSelect{
        display: grid;
        grid-template-columns: 4fr 6fr;
    }

    textarea {
        margin: 0;
        padding: 0;
    }

    .currentColumn{
        text-decoration-line: underline;
    }

    .buttons{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center center;
    }

    .right-side{
        margin: 1rem;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 0.5rem;

        /* border: 1px solid green; */
    }

    img{
        display: grid;
        height: 50%;
        width: 100%;
    }

    .article-constants{
        display: grid;
        /* gap: 0.5rem; */
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .article-constants > div:hover{
        background-color: rgb(236, 245, 255);
        padding: 0.25rem;
        border:5px solid white;
    }

    .const-data{
        /* padding: 0.5rem; */
        display: grid;
        transition: 0.5s ease-in-out;
        border: 0px solid white;
    }

    .const-data > p {
        text-align: center;
        font-size: 0.9rem;
        font-weight: 900;
    }

    .status-data{
        display: grid;
        grid-template-columns: 1fr 3fr;
        text-align: center;
        font-size: 0.9rem;
        font-weight: 900;
    }


};/* Desktop min-width 992px */