/*
background: repeating-linear-gradient(3deg,
#83bbd3,
#536977 1%,
#ff0901 1%);
*/
#editor {
  padding: 0.5rem;
}

.new {
  background-image: linear-gradient(to bottom, #bcfff3, #98d6c0, #7aae8f, #5f8860, #476235);
}

.archive {
  background-image: linear-gradient(to bottom, #ece59e, #cac17d, #a99e5d, #887d3e, #695d21);
}

.update {
  background-image: linear-gradient(to bottom, #bcd9ff, #98b1d5, #768bad, #556787, #354562);
}

#editor-body {
  min-height: 90vh;
}

#init-display>div {
  padding: 1rem 0;
}

#button-auth{
  background-color: #ffe4e1
}

#button-auth>mat-card{
  background-color: #ffe4e1;
}

section>div, aside>div {
  padding: 2rem 0.5rem;
  transition: 0.3s ease-in-out;
}

section>div:hover, aside>div:hover {
  background-color: #f4f4f4;
}

.image-container {
  padding: 0.5rem;
}

.article-img {
  max-height: 40vh;
}

.n-pm {
  margin: 0;
  padding: 0;
}

.btn-create {
  background-color: green;
  color: white;
}
